[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "project_root/extern/googletest"]
	path = project_root/extern/googletest
	url = https://github.com/google/googletest.git
